*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
/*Todo sobre el titulo desde aca
Estilos para el header */
header {
    background-color: rgba(143, 143, 143, 0.7);
    position: relative;
    border-bottom: 2px solid #000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.menu {
    position: relative;
    display: inline-block;
  }
  
  .navbar {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(54, 61, 65);  
    border: 1px solid #ccc;
  }
  
  .navbar ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 200px;
  }
  
  .navbar li {
    padding: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
  }
  .navbar li:hover{
    scale: 1.10;
    background-color:rgb(99, 113, 121);
  }
  #menu-button {
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 5px;
  }
  

/* Estilos para el título */
.title {
    flex-grow: 1;
    text-align: center;
}
h1 {
    font-size: 60px;
    margin: 0;
}




/*Todo sobre el menu desde aca*/
main {
    display: flex;
    text-align: center;
    margin:auto;
    padding: 5%;
    background-color: rgba(228, 224, 216, 0,7);
    background-image: url('ImagenesCalc/FondoCuadriculado.png'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta real de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    background-clip: padding-box; /* Evita que la imagen se extienda por encima de los bordes del elemento */
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas con tamaños iguales */
    gap: 50px; /* Espacio entre los elementos */
}
section{
    text-align: center;
    background-color: rgba(228, 224, 216, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border: 1.5px solid #000;
    padding: 10px 0;
    border-radius: 10px;
}
img {
    width: 75%; 
    border-radius: 10px; 
}
section h3{
    font-size: 25px;
    padding: 10px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section p{
    font-size: 18px;
}
section:hover{
    scale: 1.05;
    cursor: pointer;
}
footer{
    text-align: center;
    padding: 25px;
    background-color: rgba(167, 167, 167, 0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid #000;
}

/* Estilizar la barra de desplazamiento */

::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
}
::-webkit-scrollbar-thumb {
    background: #6a6d6e; /* Color de fondo del pulgar */
    border-radius: 6px; /* Radio de borde del pulgar */
}
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la pista */
    border-radius: 6px; /* Radio de borde de la pista */
}
::-webkit-scrollbar-button {
    display: none; /* Ocultar los botones de la barra de desplazamiento */
}

/*ESCALA PARA PANTALLAS MAS PEQUEÑAS*/

@media screen and (min-width: 501px) and (max-width: 751px){
    /*TODO DEL HEADER*/
    #menu-button {
        cursor: pointer;
        width: 50px;
        height: 50px;
        padding: 5px;
    }
    h1 {
        font-size: 3em;
    }

    /*Barra de navegacion*/

    .navbar{
        background-color: rgb(54, 61, 65);  
        width: 100vw;
    }
    .navbar ul {
        list-style: none;
        padding: 15px;
        margin: 0;
        width: 100vw;
        text-align: center;
    }
    .navbar li{
        margin: 10px;
        border: 2px solid #000;
    }
    .navbar a{
         color: #ccc;
         font-size: 20px;
    }
    .navbar li:hover{
        scale: 1.05;
        background-color:rgb(99, 113, 121);
    }


    /*TODO DEL MAIN*/

    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 50px;
    }

    /*FOOTER*/

    footer{
        padding: 10px;
    }
    footer p{
        display: none;
    }

}

@media screen and (max-width: 501px) {
   /*TODO DEL HEADER*/
#menu-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 2px;
}
h1 {
    font-size: 1.5em;
}

/*Barra de navegacion*/

.navbar{
    background-color: rgb(54, 61, 65);  
    width: 100vw;
}
.navbar ul {
    list-style: none;
    padding: 15px;
    margin: 0;
    width: 100vw;
    text-align: center;
}
.navbar li{
    margin: 10px;
    border: 2px solid #000;
}
.navbar a{
     color: #ccc;
     font-size: 20px;
}
.navbar li:hover{
    scale: 1.05;
    background-color:rgb(99, 113, 121);
}


/*TODO DEL MAIN*/

.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 50px;
}
section p{
    display: none;
}

/*FOOTER*/

footer{
    padding: 10px;
}
footer p{
    display: none;
}

}


    

  