*{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
/*TODO SOBRE EL HEADER*/
header {
    background-color: rgba(143, 143, 143, 0.7);
    position: relative;
    border-bottom: 2px solid #000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.menu {
    position: relative;
    display: inline-block;
  }
  
  .navbar {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
  }
  
  .navbar ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 200px;
  }
  
  .navbar li {
    padding: 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #242222;
  }
  .navbar li:hover{
    scale: 1.10;
    background-color: bisque;
  }
  #menu-button {
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 5px;
  }
  

/* Estilos para el título */
.title {
    flex-grow: 1;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1 {
    font-size: 60px;
    margin: 0;
    color:black;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px #fff, -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff;

}


/*TODO SOBRE EL MENU*/
main{
    max-width: 1200px;
    margin:auto;
    padding: 5%;
    background-color: rgba(228, 224, 216, 0,7);
    background-image: url("FondoCuadriculado.png"); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta real de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el contenedor */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    background-clip: padding-box; /* Evita que la imagen se extienda por encima de los bordes del elemento */

}
.calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(228, 224, 216, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Ajusta los valores según sea necesario */
}
input[type="text"] {
    width: 260px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    background-color: aquamarine;
    border: 2px solid #000;
    border-radius: 10px;
}
input[type="button"] {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    border-radius: 10px;
}
input[type="button"]:hover{
    scale: 1.05;
}
.igual{
    background-color: cornflowerblue;
}
.borrar{
    background-color: crimson;
}
#historial {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    list-style: none;
}
h2{
    padding:20px;
    font-size: 25px;
}
hr{
    border: 1.5px solid #000;
}
ul#historial-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.historial-item{
    padding: 5px;
    font-size: 20px;
    background-color: #242222;
    color: white;
}


/*TODO SOBRE EL FOOTER*/

footer{
    text-align: center;
    padding: 25px;
    background-color: rgba(167, 167, 167, 0.7);
    border-top: 2px solid #000;
}

/*BARRA DE SCROLL*/

::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
}
::-webkit-scrollbar-thumb {
    background: #6a6d6e; /* Color de fondo del pulgar */
    border-radius: 6px; /* Radio de borde del pulgar */
}
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la pista */
    border-radius: 6px; /* Radio de borde de la pista */
}
::-webkit-scrollbar-button {
    display: none; /* Ocultar los botones de la barra de desplazamiento */
}

/*ESCALA PARA PANTALLAS MAS PEQUEÑAS*/

@media screen and (min-width: 550px) and (max-width: 751px){
    /*TODO DEL HEADER*/
    #menu-button {
        cursor: pointer;
        width: 50px;
        height: 50px;
        padding: 5px;
    }
    h1 {
        font-size: 2.5em;
    }

    /*Barra de navegacion*/

    .navbar{
        background-color: rgb(54, 61, 65);  
        width: 100vw;
    }
    .navbar ul {
        list-style: none;
        padding: 15px;
        margin: 0;
        width: 90vw;
        text-align: center;
    }
    .navbar li{
        margin: 10px;
        border: 2px solid #000;
    }
    .navbar a{
         color: #ccc;
         font-size: 20px;
    }
    .navbar li:hover{
        scale: 1.05;
        background-color:rgb(99, 113, 121);
    }
    /*FOOTER*/

    footer{
        padding: 10px;
    }
    footer p{
        display: none;
    }

}

@media screen and (max-width: 551px) {
body{
    background-color:rgba(167, 167, 167, 0.7);
};
   /*TODO DEL HEADER*/
#menu-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 2px;
}
h1 {
    font-size: 1.5em;
}

/*Barra de navegacion*/

.navbar{
    background-color: rgb(54, 61, 65);  
    width: 100vw;
}
.navbar ul {
    list-style: none;
    padding: 15px;
    margin: 0;
    width: 90vw;
    text-align: center;
}
.navbar li{
    margin: 10px;
    border: 2px solid #000;
}
.navbar a{
     color: #ccc;
     font-size: 20px;
}
.navbar li:hover{
    scale: 1.05;
    background-color:rgb(99, 113, 121);
}


/*TODO DEL MAIN*/

.calculator{
    width: 200px;;
}
input[type="text"]{
    width: 80%;
}
input[type="button"]{
    width: 15%;
    height: 15%;
}

/*FOOTER*/

footer{
    padding: 10px;
}
footer p{
    display: none;
}

}
